:root{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
  }